@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background: #0A1924;
    color: white;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #0A1924;
    backdrop-filter: blur(5px);
    z-index: 100;
}

.logo {
    font-size: 25px;
    color: white;
    text-decoration: none;
    font-weight: 600;
}



.navbar a {
    font-size: 16px;
    color: white;
    text-decoration: none;
    font-weight: 500;
    margin-left: 35px;
    transition: .3s;
}

.navbar a:hover,
.navbar a.active {
    color: #00abf0;
}


.home {
    height: auto;
    width: 100%;
    padding: 90px 10% 50px; 
    align-items: center;
    justify-content: space-between;
}

.home-content h1 {
    font-size: 45px;
    font-weight: 700;
}

.home-content h2 {
    margin: 10px 0 10px;
}

.home-content p {
    margin: 10px 0 5px;
}

.home-content ul {
    margin-left: 20px;
}

.home-content ol {

    margin-left: 20px;
}

